/* Estilos personalizados para Acerca_nuestro, Misión y Visión */
/* Header blanco igual que login/register */
body{
    background-image: url('../Images/Fondopagina.png');
    background-size: cover; /* cubre toda la pantalla */
    background-position: center center; /* centra la imagen */
    background-repeat: no-repeat; /* no se repite */
    background-attachment: fixed; /* queda fija al hacer scroll */
    background-color: #f0f0f0; /* color de respaldo por si la imagen no carga */
}

.ui.menu {
    background: white !important;
    color: var(--color-texto) !important;
    box-shadow: 0 4px 24px rgba(154,156,234,0.12);
    border: 12px solid #ffffff ;
    border-radius: 0px;
    padding: 5px;
}
.ui.menu .item {
    color: var(--color-primario) !important;
}

:root {
    --color-primario: #9A9CEA;
    --color-secundario: #A2B9EE;
    --color-terciario: #A2DCEE;
    --color-cuaternario: #ADEEE2;
    --color-texto: #213547;
}

body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #5b60f0;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #d3d3d3;
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}


.ui.button {
    background-color: var(--color-terciario);
    color: #6066d8;
    border-radius: 5px;
}

.ui.button:hover {
    background: linear-gradient(135deg, #9A9CEA, #a2dcee) !important;   
    color: black;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25); 
    transform: translateY(-2px); 
}

.ui.vertical.masthead {
    background-color: var(--color-primario);
    color: white;
    padding: 50px 0;
}

/*Estilos para el footer*/
.ui.vertical.footer {
    background-color: #A2B9EE;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
}


.seccion-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 40px 0;
    width: 100%;
}


.ui.grid.stackable {
    margin: 0 !important;
    width: 100% !important;
}

.segment-redondeado {
    border-radius: 15px !important;
    height: 100%; 
}


.ui.image.centered {
    margin-top: 20px; 
}

.cards-creadores {
    margin-top: 40px;
}
.image{
    max-width: fit-content;
}

/*Color específico para misión*/
.column:first-child .segment-redondeado {
    background: linear-gradient(135deg, #ffffff, #9A9CEA) !important;
}

/*Color específico para visión*/
.column:nth-child(2) .segment-redondeado {
    background: linear-gradient(135deg, #ffffff, #a2dcee) !important;
}

