h2{
    text-align: center;
    color:#213547
}

h3{
    text-align: center;
    color: #9A9CEA
}

.ui.card{
    background-color:#ADEEE2;
}


.ui.placeholder {
    color: #ADEEE2;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}

.ui.left.vertical.inverted.sidebar.labeled.icon.menu{
    background-color: #9A9CEA;
}

.large.sidebar.icon {
    color: white;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.large.arrow.left.icon {
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

/*Para que la tarjeta ocupe el 100% de la columna */
.full-height-card {
    height: 100%; 
    display: flex; /*Convierte la tarjeta en un contenedor flexible */
    flex-direction: column;
}

/*Permite que el contenido del cuerpo de la tarjeta se estire */
.full-height-card .content {
    flex-grow: 1; 
}